:root {
  --rose: #f1657e;
  --rose-1: #f3294e;
  --bleu: #222120;
  --noir: #000;
  --secondary: #c2ccc7;
  --third: #f0f1f2;
  --blanc: #fff;
  --btn-height: 40px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Urbanist", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  width: 99%;
  height: 90px;
  /* max-width: 100%; */
  position: sticky;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--blanc);
  padding: 0 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  margin: 0;
  padding: 0;
  height: var(--btn-height);
}

.nav-link {
  list-style-type: none;
  text-transform: uppercase;
  color: var(--rose);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  text-align: center;
}

.nav-link::after {
  position: absolute;
  z-index: -1;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--rose);
  transform: scaleX(0);
  transition: all 0.4s;
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-link a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: var(--rose);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.nav-link a:hover {
  color: var(--noir);
}

.nav-link .btn-primary {
  font-size: 1.2vw;
}
nav .logo {
  min-width: 200px;
  height: auto;
  margin: 30px 10px;
  padding: 10px 20px;
}
.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banniere {
  width: auto;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 40px 20px;
}

.img-banniere {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 1;
}

.img-banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banniere .paragraph {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-size: cover;
  background-image: url("../img/028-producto_orig.webp");
  padding: 0 4rem;
}
.banniere .paragraph-container {
  background-color: var(--rose);
  padding: 2rem;
  width: 50%;
  z-index: 2;
}

.paragraph-container p {
  font-size: 1.3rem;
  font-style: italic;
}
.banniere .paragraph h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: var(--blanc);
  color: var(--rose);
  font-size: 18px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
  min-width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.btn-secondary:hover {
  background-color: var(--third);
}

.d-section {
  width: auto;
  height: auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.section-title {
  font-size: 2.5rem;
  color: var(--rose);
}

.list-article {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  /* padding: 20px; */
}

.card {
  display: flex;
  flex-direction: column;
  width: 20em;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}

.card .card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--third);
  transition: all 0.4s;
}
.card-content:hover {
  background-color: rgba(104, 104, 104, 0.719);
  color: white;
}
.card-content h3 {
  font-size: 1.2rem;
}
.card-content li {
  list-style-type: none;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content i {
  font-size: 4rem;
  padding: 1rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.list-article h3 {
  text-transform: uppercase;
}

.article-who {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.article-who .article-content {
  width: 50%;
  line-height: 30px;
  word-spacing: 8px;
  font-size: 1.2rem;
}

.article-content p {
  text-align: justify;
}
.article-who .image_aside {
  width: 50%;
  position: relative;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_aside .logo {
}

.image_aside .rec1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: var(--secondary);
}

.image_aside .rec2 {
  position: absolute;
  z-index: -1;
  top: 20%;
  right: 0;
  width: 350px;
  height: 50%;
  background-color: var(--third);
}

.bg-third {
  background-color: var(--third);
}

.article-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.card-team {
  width: 300px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  text-transform: uppercase;
  background-color: var(--third);
}
.card-team .card-img-team {
  width: 100%;
}
.card-img-team img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-team-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.card-team-name {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card-team-position {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.article-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
  width: 75%;
  gap: 4rem;
}
.article-contact form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}

.article-contact h3 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}
.parent-form-group {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group input,
.form-group select {
  height: 30px;
  width: 100%;
  border: 1px solid var(--secondary);
  padding: 5px;
}

textarea {
  padding: 10px;
}

.adresse-info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: auto;
}
.adresse-info .detail-adresse {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.detail-adresse span {
  display: flex;
  gap: 5px;
}

.detail-adresse .logo {
  width: auto;
  height: 70px;
}
.detail-adresse .logo img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.detail-adresse-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-evenly;
}

.detail-adresse-info img{
  margin-left: 10px;
}

.btn-primary {
  height: 40px;
  width: 8rem;
  background-color: var(--rose);
  color: var(--blanc);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
}
.btn-primary:hover {
  background-color: var(--rose-1);
}

footer {
  margin-top: 10vh;
  height: 30vh;
  background: var(--rose);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  gap: 1rem;
  color: white;
}

footer .logo {
  height: 60px;
  z-index: 10;
  display: flex;
  gap: 2rem;
}
footer .logo img {
  width: auto;
  height: 100%;
  object-fit: cover;
  filter: brightness(100);
}

footer .legal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
  transition: all 0.4s;
}

footer a:hover {
  color: var(--noir);
}
.btn-menu {
  display: none;
}
.collapse {
  height: 300px;
}
.p {
  padding-right: 20px;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
}
.social a {
  font-size: 20px;
}

@media (max-width: 800px) {
  .btn-menu {
    display: block;
  }
  nav {
    border: 1px solid rgb(205, 205, 205);
    background-color: white;
    flex-direction: column;
    align-items: start;
    z-index: 9999;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
  }

  .nav-link a {
    padding: 10px;
  }
  .nav-link a,
  .nav-link .btn-primary {
    justify-content: start;
  }

  .logo {
    height: 50px !important;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 !important;
    padding: 10px 0 !important;
  }
  .logo .btn-menu {
    font-size: 30px;
    padding: 10px;
    color: var(--rose);
  }
  .logo img {
    height: 100%;
    width: 30%;
    padding: 10px;
    object-fit: contain;
  }
  .paragraph {
    padding: 2rem !important;
    align-items: start !important;
  }
  .paragraph-container {
    width: 100% !important;
  }
  .article-who {
    display: block;
    position: relative;
  }
  .image_aside .logo {
    display: none;
  }
  .image_aside {
    display: none;
  }
  .section-title {
    text-align: center;
  }

  .article-who .article-content {
    width: 100%;
  }
  .parent-form-group {
    width: 100%;
  }
  .article-contact {
    width: 100%;
    flex-flow: column-reverse;
  }
  .d-section {
    padding: 0 20px;
  }
}
