:root {
  --rose: #f1657e;
  --bleu: #222120;
  --noir: #000;
  --secondary: #c2ccc7;
  --third: #f0f1f2;
  --blanc: #fff;
}
html {
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  padding: 0 20px;
  margin: 0;
  max-width: 100%;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  max-width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: var(--blanc);
  padding: 0 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-link {
  list-style-type: none;
  text-transform: uppercase;
  color: var(--rose);
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  height: 100%;
  transition: all 0.5s;
}

.nav-link:hover {
  background-color: var(--third);
}

.nav-link a {
  text-decoration: none;
  color: var(--rose);
  transition: all 0.5s;
}

.nav-link a:hover {
  color: var(--noir);
}

.nav-link .logo {
  width: 200px;
  height: auto;
}

.banniere {
  width: auto;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 40px 20px;
}

.img-banniere {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 1;
}

.img-banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banniere .paragraph {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-size: cover;
  background-image: url("/img/028-producto_orig.jpg");
  padding: 0 4rem;
}
.banniere .paragraph-container {
  background-color: var(--rose);
  padding: 2rem;
  width: 50%;
  z-index: 2;
}

.banniere .paragraph h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.d-section {
  width: auto;
  height: auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 2.5rem;
  color: var(--rose);
}

.list-article {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  /* padding: 20px; */
}

.card {
  display: flex;
  flex-direction: column;
  width: 20em;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}

.card .card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--third);
  transition: all 0.4s;
}
.card-content:hover {
  background-color: rgba(104, 104, 104, 0.719);
  color: white;
}
.card-content h3 {
  font-size: 1.2rem;
}
.card-content li {
  list-style-type: none;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content i {
  font-size: 4rem;
  padding: 1rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.list-article h3 {
  text-transform: uppercase;
}

.article-who {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.article-who .article-content {
  width: 50%;
  line-height: 30px;
  word-spacing: 8px;
  font-size: 1.2rem;
}

.article-content p {
  text-align: justify;
}
.article-who .image_aside {
  width: 50%;
  position: relative;
}

.image_aside .logo {
  position: absolute;
  right: 20%;
  width: 400px;
  top: 50%;
}

.image_aside .rec1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 80vh;
  background-color: var(--secondary);
}

.image_aside .rec2 {
  position: absolute;
  z-index: -1;
  top: 20%;
  right: 0;
  width: 350px;
  height: 50vh;
  background-color: var(--third);
}

.bg-third {
  background-color: var(--third);
}

.article-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.card-team {
  width: 300px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  text-transform: uppercase;
  background-color: var(--third);
}
.card-team .card-img-team {
  width: 100%;
}
.card-img-team img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-team-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.card-team-name {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card-team-position {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.article-contact {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.article-contact form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  flex-grow: 1;
}

.article-contact h3 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}
.parent-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group input {
  height: 30px;
  width: 100%;
  border: 1px solid var(--secondary);
  padding: 5px;
}

textarea {
  padding: 10px;
}

.adresse-info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.adresse-info .detail-adresse {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-adresse span {
  display: flex;
  gap: 5px;
}
